/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 déc. 2014, 18:43:55
    Author     : LENINE
*/
#eiSideBar121MainObjects a.scenarioIcon {
  color: #065260;
  background-color: #eeeeee;
}
#eiSideBar121MainObjects a.scenarioIcon:hover {
  color: rgba(4, 54, 62, 0.6);
  background-color: #a6a6a3;
}
#ei_sous_objet_header div.panel-heading div.btn-group a {
  /*background-color: @gradientcolor1;;*/
}
