/config/databases.yml
/config/project.yml
cache/
log/
nbproject/
.idea/
/web/uploads/
/web/login.xml
/web/projets.xml
/web/projet.xml
/web/projectVersion.xml
/web/result_update.xml
/web/result_update_function.xml
/web/result_update_package.xml
/web/result_update_view.xml
/web/result_migrate_many_bug.xml
/web/result_migrate_bug.xml
/lib/model/doctrine/base/
/lib/model/doctrine/sfDoctrineGuardPlugin/base/