/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 déc. 2014, 18:43:55
    Author     : LENINE
*/
#eiProjectDeliveriesMainAccess {  
    background: none ;
    color: #67c2ef; 
}
#eiCreateDeliveryByMainAccess{  
    color: #67c2ef;
    background: none repeat scroll 0 0 #f5f5f5
}