/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 févr. 2015, 16:04:47
    Author     : LENINE
*/
/* Migration d'un bug et d'une livraison */
/* Loader de migration d'un bug */
.loaderProfile,
#loading-indicator {
  display: none;
}
.function_line,
.scenario_line {
  box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.function_line .function_line_profiles,
.scenario_line .function_line_profiles,
.function_line .scenario_line_profiles,
.scenario_line .scenario_line_profiles {
  padding-left: 1px;
  padding-right: 1px;
}
.function_line .function_line_profiles .btn-group .btn,
.scenario_line .function_line_profiles .btn-group .btn,
.function_line .scenario_line_profiles .btn-group .btn,
.scenario_line .scenario_line_profiles .btn-group .btn {
  margin-left: 1px;
  margin-right: px;
}
.function_line .function_line_name,
.scenario_line .function_line_name,
.function_line .scenario_line_name,
.scenario_line .scenario_line_name {
  padding-left: 1px;
  padding-right: 1px;
}
.function_line .function_line_checkbox,
.scenario_line .function_line_checkbox,
.function_line .scenario_line_checkbox,
.scenario_line .scenario_line_checkbox {
  padding-left: 2px;
  padding-right: 1px;
}
